Module not found: Can't resolve './globals.css'
./app/layout.tsx (4:1)

Module not found: Can't resolve './globals.css'
  2 |
  3 | import { Inter } from "next/font/google";
> 4 | import "./globals.css";
    | ^^^^^^^^^^^^^^^^^^^^^^^
  5 | import { useRouter } from "next/navigation";
  6 |
  7 | const inter = Inter({ subsets: ["latin"] });

Import traces:
  Client Component Browser:
    ./app/layout.tsx [Client Component Browser]
    ./app/layout.tsx [Server Component]

  Client Component SSR:
    ./app/layout.tsx [Client Component SSR]
    ./app/layout.tsx [Server Component]
